body {
    margin: 0;
    background: #000;
    font-family: Arial;
    color: white;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-title {
    font-size: 60px;
    font-weight: bold;
    background: linear-gradient(90deg, #00eaff, #ff00ea, #00eaff);
    background-size: 300%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: slide 6s infinite;
}

@keyframes slide {
    0% {background-position: 0%;}
    50% {background-position: 200%;}
    100% {background-position: 0%;}
}

.scroll-btn {
    margin-top: 30px;
    padding: 12px 25px;
    border: none;
    background: #00eaff;
    color: black;
    font-size: 18px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
}

/* SECTION TITLES */
.section-title {
    text-align: center;
    font-size: 35px;
    margin: 40px 0;
    background: linear-gradient(90deg, #00eaff, #ff00ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* FEATURES SECTION */
.features {
    padding: 40px;
}

.feature-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card {
    background: #111;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid #00eaff55;
}

/* UPLOAD SECTION */
.upload-section {
    padding: 40px;
}

.upload-form {
    width: 50%;
    margin: auto;
}

textarea {
    width: 100%;
    height: 70px;
    padding: 8px;
    border-radius: 6px;
    background: #111;
    color: white;
    border: none;
}

input[type="file"] {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    background: #111;
    border-radius: 6px;
}

.upload-btn {
    width: 100%;
    padding: 12px;
    background: #00eaff;
    border: none;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    box-shadow: 0 0 15px #00eaff;
}

/* RESULT BOX */
.result-box {
    width: 60%;
    margin: 30px auto;
    background: #111;
    padding: 20px;
    border-radius: 10px;
}

.preview {
    background: #000;
    padding: 10px;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: scroll;
}

/* DASHBOARD */
.dashboard table {
    width: 70%;
    margin: auto;
    border-collapse: collapse;
}

table tr, table th, table td {
    border: 1px solid #00eaff55;
    padding: 10px;
    text-align: center;
}
