body {
    font-family: Arial, sans-serif;
    background: #000000; /* black */
    margin: 0;
    padding: 0;
}

/* Gradient title text */
.gradient-text {
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;

    background: linear-gradient(to right, #00eaff, #ff00c8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.container {
    width: 40%;
    margin: auto;
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 60px;   /* smaller height */
    font-size: 14px;
}


input, button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

button {
    background: #00eaff;
    color: black;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
