/* GENERAL */
body {
    background: #000;
    margin: 0;
    font-family: Arial;
    color: white;
}

/* GLASS EFFECT */
.glass {
    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(8px);
    border-radius: 12px;
    border: 1px solid rgba(255,255,255,0.12);
    box-shadow: 0 0 25px #00eaff33;
}

/* FADE ANIMATION */
.fade-in {
    animation: fade 1.5s ease-in-out;
}
@keyframes fade {
    from {opacity: 0; transform: translateY(20px);}
    to   {opacity: 1; transform: translateY(0);}
}

/* LOGIN PAGE */
.login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    width: 350px;
    padding: 25px;
    text-align: center;
    background: #111;
    border-radius: 12px;
    box-shadow: 0 0 20px #00eaff55;
}

.login-box h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: none;
    background: #222;
    color: white;
}

.login-btn {
    width: 95%;
    padding: 12px;
    background: #00eaff;
    color: black;
    border: none;
    font-size: 18px;
    border-radius: 6px;
    box-shadow: 0 0 12px #00eaff;
}

/* DASHBOARD */
.dashboard-title {
    text-align: center;
    margin-top: 30px;
    font-size: 40px;
    background: linear-gradient(90deg, #00eaff, #ff00ea);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logout-btn {
    display: block;
    margin: 15px auto;
    text-align: center;
    width: 100px;
    padding: 10px;
    background: #ff0055;
    border-radius: 6px;
    color: white;
    text-decoration: none;
}

.dashboard-table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

.dashboard-table th, .dashboard-table td {
    border: 1px solid #00eaff33;
    padding: 10px;
}

/* Shortlist Colors */
.shortlisted {
    color: #00ff55;
}
.rejected {
    color: #ff0055;
}

